
utils/__pycache__/histogram.cpython-310.pyc
SNCA_Region_A.fasta
SNCA_Region_B.f
utils/__pycache__/histogram.cpython-310.pyc
VEGFA_ref.f
utils/__pycache__/histogram.cpython-310.pyc
*/__pycache__
/data/*
*.log
